.characteristic {
    padding-top: 94px;
}

.characteristic-list {
    display: flex;
    column-gap: 30px;
}

.characteristic-list__item {
    flex-basis: calc((100% - 90px)/4)
}

.characteristic-list__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: #F5F4FA;
}

.characteristic-list__name {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.characteristic-list__description {
    line-height: 1.71;
    color: var(--primary-contact-color);
}