.webstudio__weblogo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-accent-color);
}

.webstudio__weblogo_theme_black {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-black);
}

.webstudio__weblogo_theme_white {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-bg-color);
}