:root {
    --primary-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --dark-bg-color: #2F303A;
    --primary-text-color: #212121;
    --primary-contact-color: #757575;
    --primary-accent-color: #2196F3;
    --secondary-accent-color: #188CE8;
    --primary-black: #000000;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}